.profile__avatar-button {
  overflow: hidden;
  position: relative;
  display: block;
  inline-size: 120px;
  block-size: 120px;
  border-radius: 50%;
  margin: 0 29px 0 0;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.profile__avatar-button::after {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background: url(../../../images/pen.svg) rgb(0 0 0 / 80%) no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile__avatar-button:hover::after,
.profile__avatar-button:focus::after {
  opacity: 1;
}
