.popup__button {
  inline-size: 100%;
  block-size: 50px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 2px;
  border: none;
  transition: visibility 0s, background 0.3s;
  margin-block-start: 48px;
}

.popup__button:hover {
  background: rgb(0 0 0 / 80%);
  cursor: pointer;
}

.popup__button_disabled {
  opacity: 0.2;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.popup__button_disabled:hover {
  opacity: 0.2;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

@media screen and (width <= 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}
