.popup__error {    
    inline-size: 100%;
    block-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #F00;
    opacity: 0;
    transition: opacity 0.35s;
}

.popup__error_visible {
    opacity: 1;
}

.is-invalid {
    border-block-end-color: red;
} 
