.profile__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/avatar.jpg);
}

@media screen and (width <= 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (width <= 480px) {
  .profile__image {
    margin-inline-end: 0;
  }
}
